
#principal{
    width:50%;
    background-color:black;
    color: green;
}


.colorChange{
    background-color: yellow;
}

.reception{
    display: flex;

}

.reception > fieldset {

    width: 50%;
}

fieldset[disabled]{

    background-color: brown;
    color:blue;

}

img{
    width   :32px;
    height  :32px;
}

.content{

    display: flex;

    align-items: center;
    justify-content: center;
}

